@{
    ViewBag.Title = "About This Application";
}
<h2>@ViewBag.Title.</h2>


<p>My first MVC Application for MIS 4200.</p>

<p>I am originally from Cleveland. I am an MIS and Analytics major. In my free time I enjoy traveling and spedning time with family </p>