@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Maria Economos<br />
   Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Email:</strong>   <a href="me140315@ohio.edu">me140315@ohio.edu</a><br />
   
</address>