@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">Casptone Class for the MIS major.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Previous Classes</h2>
        <p>
            I have taken multiple classes such as MIS 2800 and 3200 which have helped to develop my coding skills.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Goals for this class</h2>
        <p>My goal for this class is to be a helpful and effective team member.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Post Grad</h2>
        <p>After I graduate I will be working for PNC in the Product Management department in Pittsburgh.</p>
        
    </div>
</div>